[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/catsucci/.local/share/Steam/steamapps/common/Krita/launch.sh
GenericName[en_US]=
GenericName=
Icon=steam_icon_280680
MimeType=
Name[en_US]=Krita
Name=Krita
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
